@charset "utf-8";

 body{
    background:url(kepek/hatter2.jpg);
}

main, header, footer, article {border:1px solid gray;
padding:5px}
main {
    max-width:600px;
    background-color: whitesmoke
}

table {
    border-collapse:collapse;
    width:100%;
    background-color: lightgreen;
}
table td, th {
    border:1px solid gray;
  }
th{
    background: lightblue;
}
table tr:nth-child(even){
    background:lightgoldenrodyellow
    
}
.kiemel{
 background: pink;
 cursor:grab;
    
}




